<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nofirst.ai.code.review.repository.mapper.ReviewResultInfoDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nofirst.ai.code.review.repository.entity.ReviewResultInfoDetail">
        <id column="id" property="id"/>
        <result column="result_id" property="resultId"/>
        <result column="type" property="type"/>
        <result column="review_score" property="reviewScore"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

</mapper>
